
* body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1518821703881-9da5a9f42038?")
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    position: relative;
    font-family: monospace;
  }

#guestbook {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: monospace;
    color: #ffffff;
    border: 10px;
    background-color: rgb(219, 164, 164);
}

h1 {
    text-align: center;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-family: monospace;
    color: rgb(255, 255, 255);
  }
  

/* MEDIA QUERIES */
    /* Styles for screens with a width of 600px or less */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
  }